#Header {
    background-color: blue;
    border: 5px solid beige;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    font-size: large;
}

body {
    background-color: grey;
}

#form {
    background-color: blue;
    border: 5px solid beige;
    border-radius: 20px;
    text-align: center;
    font-size: x-large;
}